$dark: #000D56;
$green: #00CC3E;
$red: #DF0000;

body{
    font-family: Questrial, sans-serif;
}

*{
    transition: 0.2s ease;
}


.title{
    font-size: 2vw;
    text-align: center;
}

.main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    overflow-y: scroll;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sec{

    margin: 0;
    z-index: 2;
    height: 22vw;

    h1{
        margin: 0;
        margin-bottom: 1vw;
        font-size: 2vw;
    }

    div{
        background-color: $dark;
        height: 100%;
        border-radius: 1vw;
        padding: 2vw;
    }
    img{
        height: 100%;
        opacity: 0.9;
    }

}

