$dark: #000D56;
$green: #00CC3E;
$red: #DF0000;

body{
    font-family: Questrial, sans-serif;
}

*{
    transition: 0.2s ease;
}


.title{
    font-size: 2vw;
    text-align: center;
}
.main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    overflow-y: scroll;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bar{
    display: flex;
    align-items: center;
    width: 80%;
    height: 3vw;
    justify-content: space-evenly;
    div{
        height: 100%;
    }
    img{
        height: 80%;
        border-radius: 10vw;
        padding: 0.5vw;
        transform: scale(1.5);
        &:hover{
            transform: scale(1.6);
        }
    }
}

.vote{
    height: 4vw;
    margin: 1vw;
    margin-bottom: 3vw;
    display: flex;
    justify-content: center;

    img{
        height: 100%;
        border-radius: 3vw;
        margin: 1vw;
        padding: 0.5vw;
        transform: scale(1);
        &:hover{
            transform: scale(1.1);
        }
    }

    .button{
        height: 100%;
        margin: 1vw;
        width: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        img{
            height: 80%;
            margin-right: -0.5vw;
            margin-left: -0.5vw;
        }
    }
}

.expo{

    margin: 0;
    text-align: center;
    z-index: 2;

    h1{
        margin: 1vw;
        font-size: 4vw;
    }
    h2{
        font-size: 1.5vw;
        margin: 1vw;
    }

}

.bull{
    background-color: $green;
    &:hover{
        background-color: darken($green, 5%);
    }
}

.bear{
    background-color: $red;
    &:hover{
        background-color: darken($red, 5%);
    }
}

.red{
    background-color: $red;

    flex: 1;
}

.green{
    background-color: $green;

    flex: 1;
}


.screen{
    background-color: $dark;
    border-radius: 0.5vw;
    width: 30vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    &.black{
        background-color: black;
        .bar{
            height: 2vw;
        }
        .vote{
            img{
                &:hover{
                    transform: scale(1);
                }
            }
        }
    }

    &.kassabov{
        .green{
            background-color: white;
        }
        .red{
            background-color: rgba(white, 0.3);
        }
        .button{
            background-color: rgba(white, 0.7);
            color: black;
            img{
                filter: brightness(0%);
            }
            &:hover{
                background-color: rgba(white, 0.8);
            }
        }

    }
}


.hidden{
    display: none;
}